input[type="radio"]
{
    display:none;
}
input[type="radio"] + label span
{
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/sprite.png) left top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span
{
    background:url(../img/sprite.png) -24px top no-repeat;
}

input[type="checkbox"]
{
    display:none;
}
input[type="checkbox"] + label span
{
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/sprite.png) -48px top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span
{
    background:url(../img/sprite.png) -72px top no-repeat;
}

/*-------------------------------------------------------------------------------------------
 * Flipswitch
 */
 
.flipswitch
{
	position: relative;
	width: 80px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.flipswitch input[type=checkbox]
{
	display: none;
}
.flipswitch-label
{
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 50px;
}
.flipswitch-inner
{
	width: 200%;
	margin-left: -100%;
	-webkit-transition: margin 0.3s ease-in 0s;
	-moz-transition: margin 0.3s ease-in 0s;
	-ms-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after
{
	float: left;
	width: 50%;
	height: 24px;
	padding: 0;
	line-height: 24px;
	font-size: small;
	color: white;
	font-family: Calibri, Arial, sans-serif;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.flipswitch-inner:before
{
	content: "Groot";
	padding-left: 12px;
	background-color: #0152A1;
	color: #FFFFFF;
}
.flipswitch-inner:after
{
	content: "Klein";
	padding-right: 12px;
	background-color: #EBEBEB;
	color: #888888;
	text-align: right;
}
.flipswitch-switch
{
	width: 31px;
	margin: -3.5px;
	background: #FFFFFF;
	border: 2px solid #999999;
	border-radius: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 59px;
	-webkit-transition: all 0.3s ease-in 0s;
	-moz-transition: all 0.3s ease-in 0s;
	-ms-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner
{
	margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch
{
	right: 0;
}